#loader-dots #dot1 {
    animation: load 1s infinite;
}

#loader-dots #dot2 {
    animation: load 1s infinite;
    animation-delay: 0.2s;
}

#loader-dots #dot3 {
    animation: load 1s infinite;
    animation-delay: 0.4s;
}

@keyframes load {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.div-whole-space {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
