body > .container {
    max-width: 100%;
}


.schedule-arranger-page {
    display: flex;
    flex-direction: row;
}

.schedule-arranger-timeline {
    flex-grow: 6;
    display: flex;
    flex-direction: row;
    margin-top: 25px
}

.schedule-arranger-selector {
    flex-basis: 200px;
}

.sa-schedule-day-column {
    position: relative !important;
    flex-grow: 1;
    border-right: 1px solid;
}



.sa-time-column {
    position: relative !important;
    flex-basis: 65px;
    border-right: 1px solid;
}

.sa-time-label {
    position: absolute !important;
    border-top: 1px solid darkgrey;
    width: 100%;
}



.sa-schedule-cell {
    z-index: 20;
}
.sa-whole-hour-line {
    width: 100%;
    height: 1px;
    background-color: #6565652e;
}

.sa-lesson-tile {
    position: absolute !important;
    width: 98%;
    left: 1%;
    z-index: -1;
}

.sa-day-label {
    position: absolute;
    width: 100%;
    text-align: center;
    top: -30px;
    font-size: 1.2em;
}




/* Lesson on timetable */
.sa-placed-lesson {
    border-radius: 10px;
    padding: 2px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    background-color: #befa867a;
}

.sa-placed-lesson > div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.sa-lesson-subject {
    grid-column: 1;
    grid-row: 1;
}

.sa-lesson-time {
    grid-column: 1;
    grid-row: 2;
    font-size: 0.8em;
}

.sa-lesson-lecturer {
    grid-column: 2;
    grid-row: 1;
    font-size: 0.9em;
    text-align: right;
}

.sa-lesson-room {
    grid-column: 2;
    grid-row: 2;
    font-size: 0.8em;
    text-align: right;
}




/** Teacher other lessons */
.sa-lessons-teacher-busy, .sa-lessons-room-busy {
    background-color: #a7030367;
    border-radius: 10px;
    padding: 2px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.sa-lessons-teacher-busy div {
    grid-column: 2;
    grid-row: 1;
    font-size: 1em;
    text-align: right;
}
.sa-lessons-room-busy div {
    grid-column: 2;
    grid-row: 2;
    font-size: 0.9em;
    text-align: right;
}






.sa-lesson-placing-shadow {
    padding: 5px;
    text-align: center;
    background-color: #6cff986d;
    border-radius: 10px;
}



/* Prefab */
.sa-lesson-prefab, .sa-add-lesson-prefab {
    margin: 5px;
    border-radius: 10px;
    border: 3px solid #3cb37177;
    background-color: #3cb37177;
}
.sa-lesson-prefab {
    padding: 5px;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    cursor: grab;
}

.sa-lesson-prefab:active {
    background-color: #3cb37144;
    border-color: #3cb37144;
}

.sa-lesson-prefab-subject {
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;
}

.sa-lesson-prefab-bottom > div {
    width: 49%;
}

.sa-lesson-prefab-lecturer {
    float: left;
    text-align: left;
}

.sa-lesson-prefab-room {
    float: right;
    text-align: right;
}



.sa-add-lesson-prefab {
    cursor: pointer;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sa-add-lesson-prefab i {
    transform: translateY(0px) scale(1.4);
}



/* Class selector */
.sa-selector-classes {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px
}

.sa-selector-classes > h2 {
    flex-basis: 100%;
    flex-shrink: 0;
    text-align: center;
}

.sa-selector-class-entry {
    height: 150px;
    background-color: green;
    min-width: 150px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.4) 5px 5px 10px 5px inset;
    cursor: pointer;
}

.sa-selector-class-name {
    display: block;
    font-size: 3.5em;
    text-shadow: -1px 1px 2px rgb(255, 255, 255);
}

.sa-selector-class-spec {
    font-size: 2em;
}