body > .container {
    max-width: 100%;
}


.schedule-arranger-page {
    display: flex;
    flex-direction: row;
}

.schedule-arranger-timeline {
    flex-grow: 6;
    display: flex;
    flex-direction: row;
}

.schedule-arranger-selector {
    flex-basis: 200px;
}

.sa-schedule-day-column {
    position: relative !important;
    flex-grow: 1;
    border-right: 1px solid;
}



.sa-time-column {
    position: relative !important;
    flex-basis: 65px;
    border-right: 1px solid;
}

.sa-time-label {
    position: absolute !important;
    border-top: 1px solid darkgrey;
    width: 100%;
}



.sa-schedule-cell {
    z-index: 20;
}
.sa-whole-hour-line {
    width: 100%;
    height: 1px;
    background-color: #65656542;
}

.sa-lesson-tile {
    position: absolute !important;
    width: 100%;
    z-index: -1;
}



/* Lesson on timetable */
.sa-placed-lesson {
    border-radius: 10px;
    padding: 2px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    background-color: #befa867a;
}

.sa-placed-lesson > div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.sa-lesson-subject {
    grid-column: 1;
    grid-row: 1;
}

.sa-lesson-time {
    grid-column: 1;
    grid-row: 2;
    font-size: 0.8em;
}

.sa-lesson-lecturer {
    grid-column: 2;
    grid-row: 1;
    font-size: 0.9em;
    text-align: right;
}

.sa-lesson-room {
    grid-column: 2;
    grid-row: 2;
    font-size: 0.8em;
    text-align: right;
}




.sa-lesson-placing-shadow {
    padding: 5px;
    text-align: center;
    background-color: #6cff986d;
    border-radius: 10px;
}



/* Prefab */
.sa-lesson-prefab {
    margin: 5px;
    border-radius: 10px;
    border: 3px solid #3cb37177;
    background-color: #3cb37177;
    padding: 5px;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
}
.sa-lesson-prefab:active {
    background-color: #3cb37144;
    border-color: #3cb37144;
}

.sa-lesson-prefab-subject {
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;
}

.sa-lesson-prefab-bottom > div {
    width: 49%;
}

.sa-lesson-prefab-lecturer {
    float: left;
    text-align: left;
}

.sa-lesson-prefab-room {
    float: right;
    text-align: right;
}