.schedule-display-conainer {
    height: 100%;
    position: relative;
}

.schedule-display-loader {
    transition-duration: 1.5s;
    z-index:1000;
}

.schedule-display-loader-hide {
    opacity: 0;
}