.modal-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    z-index: 11;
    padding: 20px;
    background-color: var(--theme-color-1);
    border-radius: 15px;
    box-shadow: 4px 4px 10px #0000002b;
}

.modal-dismiss-listener {
    width: 100%;
    height: 100%;
}

.modal-bg-scroll {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: #0000002e;
}

.modal-close-btn {
    cursor: pointer;
    color: black;
    float: right;
    transform: translate(10px, -16px) scale(1.2);
}

.modal-close-btn:hover {
    color: #9a0000;
}


.confirmation-modal-buttons {
    display: flex;
    column-gap: 15%;
}
.confirmation-modal-buttons button {
    flex: 1;
    border: 1px solid black;
}

.confirmation-modal-confirm-btn {
    background-color: #e4fbe2;
    border-color: #01740c !important;
}

.confirmation-modal-decline-btn {
    background-color: #fbe2e2;
    border-color: #6a0101 !important;
}