@model SchoolAssistant.Infrastructure.Models.ConductingClasses.ScheduledLessonsList.ScheduledLessonListModel

<table class="scheduled-lessons-list">
    <partial name="ConductingClasses/List/_ListHead" />
    <partial name="ConductingClasses/List/_ListBody" model="Model" />
</table>
