@{
}

<div class="controls-layout">
    <div class="load-older">
        <button type="button"
            
        >
            <i class="fa-solid fa-plus"></i>
        </button>
    </div>

    <div class="filters">

    </div>

    <div class="load-newer">
        <button type="button"
            action=""
        >
            <i class="fa-solid fa-plus"></i>
        </button>
    </div>
</div>