@page
@model SchoolAssistant.Web.Pages.ConductingClasses.ScheduledLessonsModel
@{
}

@section Head {
    <link rel="stylesheet" href="~/css/conducting-classes/list-page.css" asp-append-version="true"/>

    <link rel="stylesheet" href="~/dist/scheduled_lessons_list.css" asp-append-version="true"/>
}


<div id="scheduled-lesson-list-page" class="whole-area">
    @Html.React("Components.ScheduledLessonsListControls", new {}, 
        containerClass: "scheduled-lesson-list-controls")
    
    @{
        Model.ScheduledLessonListConfig.theadTrClassName = "header-row";
        Model.ScheduledLessonListConfig.entryHeight = 45;
    }
    @Html.React("Components.ScheduledLessonsList", new {
        config = Model.ScheduledLessonListConfig,
        entries = Model.ScheduledLessonListEntries,
    }, containerClass: "scheduled-lesson-list-container")
</div>

@section Scripts {
    <script src="~/dist/scheduled_lessons_list.bundle.js" asp-append-version="true"></script>

    <script>


    
    </script>
}