.sa-lesson-prefab, .sa-add-lesson-prefab {
    margin: 5px;
    border-radius: 10px;
    border: 3px solid #3cb37177;
    background-color: #3cb37177;
}

.sa-lesson-prefab {
    padding: 5px;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    cursor: grab;
}

.sa-lesson-prefab-selected {
    background-color: #8af8bb77;
}

.sa-lesson-prefab:active {
    background-color: #3cb37144;
    border-color: #3cb37144;
}

.sa-lesson-prefab-subject {
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;
}

.sa-lesson-prefab-bottom > div {
    width: 49%;
}

.sa-lesson-prefab-lecturer {
    float: left;
    text-align: left;
}

.sa-lesson-prefab-room {
    float: right;
    text-align: right;
}



.sa-add-lesson-prefab {
    cursor: pointer;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sa-add-lesson-prefab i {
    transform: translateY(0px) scale(1.4);
}
