@page
@using Microsoft.AspNetCore.Antiforgery
@model SchoolAssistant.Web.Pages.Dashboard.StudentModel
@inject IAntiforgery antiforgery
@{
    var token = antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
}

@section Head{
    <link rel="stylesheet" href="~/dist/schedule_display.css" asp-append-version="true"/>
}


Student dashboard

<div class="dashboard">
    <div class="dashboard-item dashboard-item-green">
        @Html.React("Components.Schedule", new {})
    </div>
    <div class="dashboard-item dashboard-item-cyan">
        <partial name="Components/_MarksOverview" for="MarksOverview" />
    </div>
    <div class="dashboard-item dashboard-item-cyan">
        <partial name="Components/_MarksOverview" for="MarksOverview" />
    </div>
    <div class="dashboard-item dashboard-item-cyan">
        <partial name="Components/_MarksOverview" for="MarksOverview" />
    </div>
</div>

@section Scripts{
    <script>
        const antiforgeryToken = '@token';
    </script>

    <script src="~/dist/schedule_display.bundle.js" asp-append-version="true"></script>
}