@page
@model SchoolAssistant.Web.Pages.Dashboard.StudentModel
@{
}

@section Head{
    <partial name="Components/_ScheduleStyles" />
}


Student dashboard
<div id="schedule"></div>

@section Scripts{
    <partial name="Components/_ScheduleScripts" for="Schedule" />
}