@page
@using Microsoft.AspNetCore.Antiforgery
@model SchoolAssistant.Web.Pages.Dashboard.TeacherModel
@inject IAntiforgery antiforgery
@{
    var token = antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
}

@section Head{
    <link rel="stylesheet" href="~/css/dashboard/shared.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/dashboard/teacher.css" asp-append-version="true"/>

    <link rel="stylesheet" href="~/dist/schedule_shared.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/dist/schedule_display.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/dist/scheduled_lessons_list.css" asp-append-version="true"/>
}


<div class="dashboard">
    <div class="dashboard-item dashboard-item-white-glow dashboard-schedule">
        @Html.React("Components.Schedule", new {
            config = Model.ScheduleConfig,
            lessons = Model.ScheduleLessons
        }, containerClass: "schedule-view")
    </div>

    <div class="dashboard-item dashboard-scheduled-lessons">
        <div class="scheduled-lessons-container">
            @{
                
            }
            @Html.React("Components.ScheduledLessonsList", new {
                config = Model.ScheduledLessonListConfig,
                entries = Model.ScheduledLessonListEntries,
            }, containerClass: "scheduled-lessons-view")

            <div id="show-more-scheduled-lessons">
                <a asp-area="" asp-page="/ConductingClasses/ScheduledLessons">
                    <input type="button"
                        value="Pokaż więcej"
                    />
                </a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        const antiforgeryToken = '@token';
    </script>

    <script src="~/dist/schedule_shared.bundle.js" asp-append-version="true"></script>
    <script src="~/dist/schedule_display.bundle.js" asp-append-version="true"></script>
    <script src="~/dist/scheduled_lessons_list.bundle.js" asp-append-version="true"></script>
}