.sched-disp-lesson-tile {
    color: #000000;
    position: absolute;
    width: 100%;
    background-color: #c5ffc5;
    border-radius: 10px;
    transition: 0.3s;
    font-size: 80%;
}

.sched-disp-lesson-tile:hover {
    background-color: #c5ffc536;
}