.lesson-mod-comp-layout {
    display: flex;
}

.lmc-inputs {
    flex-basis: 200px;
}

.lmc-right-panel {
    flex-grow: 1;
    display: flex;
}

.lmc-overlap-container {
    flex-grow: 1;
}

.lmc-save-btn {

}