.sa-lessons-teacher-busy, .sa-lessons-room-busy {
    background-color: #a7030367;
    border-radius: 10px;
    padding: 2px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.sa-lessons-teacher-busy div {
    grid-column: 2;
    grid-row: 1;
    font-size: 1em;
    text-align: right;
}

.sa-lessons-room-busy div {
    grid-column: 2;
    grid-row: 2;
    font-size: 0.9em;
    text-align: right;
}






.sa-lesson-placing-shadow {
    padding: 5px;
    text-align: center;
    background-color: #6cff986d;
    border-radius: 10px;
}

.sa-lesson-touch-placing-confirm {
    display: flex;
    flex-direction: row;
}

.sa-lesson-touch-placing-confirm {
    z-index: 100;
}

.sa-lesson-touch-placing-confirm > h4 {
    flex: 1;
    align-self: center;
    text-align: center;
}

.sa-lesson-touch-placing-confirm > button {
    flex: 0 1 40px;
}