.lcp-anchor {
    position: absolute;

    background-color: #7be1a8a6;
    border: 0;
    border-radius: 20px;
    bottom: 40px;
    left: -100px;

    box-shadow:
        2px 2px 5px 0px #0000003c,
        inset 8px 8px 10px 0px #ffffff30,
        inset 2px 2px 5px 0px #ffffff6a;

    transition: all 0.3s;
}

.lcp-anchor:hover {
    background-color: #a0efc3a6;
    box-shadow: 2px 2px 5px 0px #0000003c, 
        inset 8px 8px 10px 0px #ffffff22,
        inset 2px 2px 5px 0px #ffffff2d;
}

.lcp-anchor > div {
    display: flex;
    flex-direction: column;

    margin: 5px;
    font-size: 1.1em;
}

.lcp-anchor > div > span:first-child {
    font-weight: 500;
}
