
body > .container {
    max-width: none;
    margin: 0px 20px;
    width: calc(100% - 40px);
}

#scheduled-lesson-list-page {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.scheduled-lesson-list-controls {
    flex-basis: 200px;
    height: 95vh;
    background-color: aqua;
    position: sticky;
    top: 10px;
}

.scheduled-lessons-list-head {
    position: sticky;
    top: 10px;
}

.header-row {
    box-shadow: 
        inset 0 10em 3em rgb(242, 242, 242, 0.86),
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgb(0, 0, 0, 0.3)
        !important;
}

.scheduled-lesson-list-container {
    width: 100%;
}



.scheduled-lesson-list-controls form,
.scheduled-lesson-list-controls form div {
    height: 100%;
}
.controls-layout {
    display: flex;
    flex-direction: column;
}

.load-older, .load-newer {
    flex-basis: 100px;
}
.filters {
    flex-grow: 1;
}