.student-selection-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-content: space-evenly;
}

.giving-mark-details {
    margin-bottom: 20px;
}

.giving-mark-details-first-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 10px;
}

.one-mark-input {
    width: 100px;
}