@{
    bool hideNavbar = (ViewData["HideNavbar"] as bool?) ?? false;
    string? version = ViewData["ProjectVersion"] as string;
    bool hasVersion = version is not null;

    ViewDataHelper.For(ViewData);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>School Assistant @(hasVersion ? $"({version})" : "")</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/shared.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/fontawesome/css/fontawesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/fontawesome/css/solid.min.css" asp-append-version="true" />

    @await RenderSectionAsync("Head", required: false)
    
    <partial name="../ConductingClasses/PanelInitialization/_Styles" />

    <link rel="stylesheet" href="~/css/temp.css" />
</head>
<body>
    @if (!hideNavbar)
    {   
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    School Assistant
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (ViewDataHelper.EnableDataManagement)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/DataManagement/Index">Zarządzanie danymi</a>
                            </li>
                        }
                        @if (ViewDataHelper.EnableScheduleArranger)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/ScheduleArranger/Index">Zarządzanie planem lekcji</a>
                            </li>
                        }
                        @{
                            bool showAnyOfUsersLists =
                                ViewDataHelper.EnableUsersList
                                || ViewDataHelper.EnableUsersListStudents
                                || ViewDataHelper.EnableUsersListTeachers;

                            bool showUsersButton = 
                                showAnyOfUsersLists
                                || ViewDataHelper.EnableUsersManagement;
                        }
                        @if (showUsersButton)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"
                                    id="navbarDropdown" 
                                    role="button" 
                                    data-bs-toggle="dropdown" 
                                    aria-haspopup="true" 
                                    aria-expanded="false"
                                >
                                    Użytkownicy
                                </a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    @if (showAnyOfUsersLists)
                                    {
                                        <a class="dropdown-item" asp-area="" asp-page="/UsersManagement/Index">
                                            Lista
                                        </a>    
                                    }
                                    @if (ViewDataHelper.EnableUsersManagement)
                                    {
                                        <a class="dropdown-item" asp-area="" asp-page="/UsersManagement/CreateUser">
                                            Dodaj użytkownika
                                        </a>  
                                    }
                                </div>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()

            <partial name="../ConductingClasses/PanelInitialization/_Panel" />
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - SchoolAssistantWeb - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>


    <script src="~/dist/runtime.bundle.js" asp-append-version="true"></script>
    <script src="~/dist/vendor.bundle.js" asp-append-version="true"></script>
    <script src="~/dist/react_lib.bundle.js" asp-append-version="true"></script>
    <script src="~/dist/shared.bundle.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    
    <partial name="../ConductingClasses/PanelInitialization/_Scripts" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @Html.ReactInitJavaScript()
</body>
</html>